div
    -var colors = ['orange', 'green', 'purple']

    each r, i in recipes
        -var color = colors[Math.floor(Math.random() * 4)]
        div(class='emoji-wrapper l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4')
            span.emoji= r.unicode
            h3(class='left')= r.title
            p(class='left emoji-tags')
                strong= "Recipe: " 
                span= r.recipe

            //- include ./tags_add.jade                

    each emj, i in emojis
        -var color = colors[Math.floor(Math.random() * 4)]
        div(class='emoji-wrapper l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4 ' + color)
            span.emoji= emj.unicode
            h3(class='left')= emj.name
            p(class='left emoji-tags')
                strong= "Tags: "         
                each t, i in emj.tags
                    a(class='tag', href='./search?q=' + t)= t     

                a(href='#my_modal' data-toggle='modal' data-emoji-name=emj.name)= "+"

        //- h3(class='pure-u-lg-1-8') 
        //-     a(href='#modal' role='button' data-toggle='modal')= "fuck"                     

            //- include ./tags_add.jade





