doctype html
html(ng-app='enodjiApp')
  head
    meta(name='keywords' content='emoji,emojis,soup,emojisoup, emoji meaning, emoji defintions, emoji dictionary, dictionary, user generated, make emoji, create emoji')
    meta(property='og:title' content='EmojiSoup')
    meta(property='title' content='EmojiSoup')        
    meta(property='og:description' content='The world\'s consortium of emoji definitions, as defined by you! Search and discover emoji meanings, and even add your own.')
    meta(property='description' content='The world\'s consortium of emoji definitions, as defined by you! Search and discover emoji meanings, and even add your own.')
    meta(property='fuck' content='ðŸ’©ðŸ˜ƒðŸ˜ˆðŸ˜²ðŸ˜§ðŸ˜¦ðŸ®ðŸ—ðŸ»ðŸ¨ðŸ¯')
    title= EmojiSoup

    link(rel='stylesheet', href='/stylesheets/style.css') 
    link(rel='stylesheet', href='/stylesheets/font-awesome/css/font-awesome.min.css')
    link(rel='stylesheet', href='/angular-material/angular-material.min.css')        
    link(rel='image/png', type='image/png', href='/favicon.png')

    script(type='text/javascript' src='/javascripts/jquery-2.1.1.js')
    script(type='text/javascript' src='/javascripts/angular-1.3.8/angular.min.js')
    script(type='text/javascript' src='/javascripts/angular-1.3.8/angular-animate.min.js')
    script(type='text/javascript' src='/javascripts/angular-1.3.8/angular-route.min.js')
    script(type='text/javascript' src='/angular-aria/angular-aria.min.js')
    script(type='text/javascript' src='/angular-material/angular-material.min.js')        
    script(type='text/javascript' src='/javascripts/ScrollToFixed/jquery-scrolltofixed-min.js')
    script(type='text/javascript' src='/javascripts/ngInfiniteScroll-master/build/ng-infinite-scroll.min.js')        
    script(type='text/javascript' src='/javascripts/app.js')
    script(type='text/javascript' src='/javascripts/zero/ZeroClipboard.js')
    script(type='text/javascript' src='/javascripts/scriptz.js')

  body 
    div(class='da-body' ng-controller='EmojiController')
        //- header and search
        div(class='header md-whiteframe-z2 row') 
            div(class='is-center')
                form#formSearch(class="search" name="search")
                    input#inputSearch(class="textarea" autocomplete="off" type="text" placeholder="ðŸ” emojis and recipes" name="q" ng-model="query.value" ng-model-options="{ debounce: 300, getterSetter: true }")
                //- md-progress-circular(class="md-warn md-hue-3" md-mode="indeterminate" ng-show='scrollgis.busy')                        


            //- div(class='auto-center suggestions' layout="row" layout-align="space-around center")
            //-     a(flex ng-repeat="suggestion in searchSuggestions" ng-click='searchEmojis(suggestion)' href="#" )='{{suggestion}}'

        //- the pot and sentence for partying
        div#the-pot(class='sub-header is-center' ng-show='sentence.length > 0')     
            div(class='command' layout="row")
                h2='Your Emoji Sentence'   
                p='Keep searching for more emojis and copy/paste when you are done'

            div(class='sub-sub is-center')
                div(class='clipboard' ng-repeat='emoji in sentence track by $index')
                    span(class='emoji' ng-click="removeFromPot(emoji)" data-clipboard-name='{{emoji.name}}' data-clipboard-value='{{emoji.unicode}}')='{{emoji.unicode}}'

            //- command center
            div(class='command' layout='row' layout-align='space-between end')
                div
                    a#copy-recipe(href='#' name='copy' data-clipboard-name='copy-recipe' data-clipboard-value)='COPY'
                div(layout='row' layout-align='space-around end')
                    a(href='#' name='clear' ng-click='clearPot()')='clear'
                    a(href='#' ng-click="showAddForm=true")='save'
                                
            //- save a sentence
            div(class='auto-center' ng-show='showAddForm==true')
                form(novalidate)
                    input(class="textarea" type='text' placeholder='Name'           name='name'         ng-model="recipe.name" )
                    input(class="textarea" type='text' placeholder='Description'    name='description'  ng-model="recipe.description")
                    input(class="textarea" type='text' placeholder='Tags'           name='tags'         ng-model="recipe.tags")
                    input(class="hidden"   type="text" placeholder="Recipe"         name="unicode"      ng-model="recipe.unicode" value="{{unicodez}}")

                    div(class='right')
                        input(class="buttonz cancel" type="button"     ng-click='showAddForm=false' value="cancel")="cancel"
                        input(class="buttonz submit" type="submit"     ng-click="addRecipe(recipe)")="save" 

        div(class='loading' layout='row' layout-align='center center' ng-show='scrollgis.busy')
            md-progress-circular(class="md-warn md-hue-3" md-mode="indeterminate" ng-show='scrollgis.busy')               

        md-content(class='content')
            div(infinite-scroll='scrollgis.nextPage()' infinite-scroll-disabled='scrollgis.busy' infinite-scroll-distance='1')
                md-grid-list(class='grid-list' md-cols-sm="1" md-cols-md="4" md-cols-lg="5" md-cols-gt-lg="6" md-gutter="16px" md-row-height-gt-md="1:1.5" md-row-height="1:1")
                        md-grid-tile(class="emoji-wrapper md-whiteframe-z1" md-colspan="{{emoji.cols}}" ng-repeat="emoji in scrollgis.items")                    
                            //- a(class='tag' ng-click='removeEmoji(emoji._id)' href='#')='delete'
                            div()
                                md-grid-tile-header(class='wrapper-header')
                                    div
                                        h2='{{emoji.name}}'
                                        p(class='left emoji-tags')
                                            //- a(class='tag' ng-click='showAdvanced()' href='#')='edit'
                                            a(class='tag' ng-repeat="tag in emoji.tags track by $index" ng-click='searchEmojis(tag)' href='#')='{{tag}}'

                                div(class='emoji-blanket' layout="row" layout-align="center end")
                                    span(class='emoji' ng-click="addToPot(emoji, $event)" data-clipboard-name='{{emoji.name}}' data-clipboard-value='{{emoji.unicode}}')='{{emoji.unicode}}'

                                md-grid-tile-footer(class='wrapper-footer' layout='row' layout-align='center center')
                                    //- md-button(class="md-raised buttonz copy" data-clipboard-name='{{emoji.name}}' data-clipboard-value='{{emoji.unicode}}')='COPY'
                                    //- md-button(class='md-raised' ng-click='showToast()')='ADD'
                                    input(class="buttonz copy" data-clipboard-name='{{emoji.name}}' data-clipboard-value='{{emoji.unicode}}' type='button' value='copy')="Copy"                                                

        
    if settings.environment.environment == "prod"
        script.
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-54259648-1', 'auto');
            ga('send', 'pageview');